# 1. Ignorer les fichiers de variables secrets
.env
.env.*
*.env
.env*

# (Mais on autorise explicitement les modèles)
!.env.example
!.env.exemple

# 2. Ignorer les dossiers de configuration (Data)
config/
data/
*/config/
*/data/

# 3. Ignorer les fichiers système polluants
.DS_Store
Thumbs.db