# PUID et PGID trouvables avec la commande "id"
PUID=xx
PGID=xx

TZ=Europe/Paris

# chemin vers le dossier qui stockera les configurations des applications
CHEMIN_RELATIF_CONFIG=./config


# CONFIGURATION VPN (Gluetun - WireGuard)
# Mettez le nom de votre fournisseur s'il est connu de Gluetun (ex: protonvpn)
# Sinon, laissez "custom" pour une configuration manuelle WireGuard
VPN_FOURNISSEUR=custom
VPN_TYPE=wireguard

# Les informations de votre fichier de configuration WireGuard (.conf)
VPN_CLE_PRIVEE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VPN_PAYS=Switzerland
