# PUID et PGID trouvables avec la commande "id"
PUID=xx
PGID=xx

TZ=Europe/Paris

# chemin vers le dossier qui stockera les configurations des applications
CHEMIN_RELATIF_CONFIG=./config

# chemin vers le dossier de stockage des medias telechargés
CHEMIN_ABSOLU_MEDIA=/volume1/media